___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [20]:
1 / 2  #It will return the exact float value..

0.5

In [21]:
2 ** 4

16

In [22]:
4 % 2

0

In [23]:
5 % 2

1

In [24]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [27]:
# Can not start with number or special characters
name_of_var = 2

In [28]:
x = 2
y = 3

In [29]:
z = x + y

In [30]:
z

5

### Strings

In [31]:
'single quotes'

'single quotes'

In [32]:
"double quotes"

'double quotes'

In [33]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [34]:
x = 'hello'

In [35]:
x

'hello'

In [36]:
print(x)

hello

In [16]:
num = 12
name = 'Sam'

In [18]:
print('My name is {} and my age is {}'.format(name,num))  #One method of using .format() method..

My name is Sam and my age is 12

In [19]:
print('My name is {one} and mt age is {two}'.format(one=name,two = num))  #Another method to use .format() method..

My name is Sam and mt age is 12

In [24]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [25]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [26]:
[1,2,3]

[1, 2, 3]

In [27]:
['hi',1,[1,2]]  #List can contain values of any data types..

['hi', 1, [1, 2]]

In [39]:
my_list = ['a','b','c']

In [40]:
my_list.append('d')  #When we want to add more values to the list..(.append() function is used..)

In [41]:
my_list  #Rettieving the value of my_list..

['a', 'b', 'c', 'd']

In [42]:
my_list[0] #Retrieving the 0th index value of the list..

'a'

In [43]:
my_list[1]

'b'

In [33]:
my_list[1:]  #When you want to do slicing in the list..(from 1 to the last index..elements..of the list.)

['b', 'c', 'd']

In [44]:
my_list[:1]  #In this slicing...the end is not included..

['a']

In [45]:
my_list[0] = 'NEW'   #Lists are mutable..i.e. you can update the values of the list..as you can see here..

In [46]:
my_list

['NEW', 'b', 'c', 'd']

In [47]:
nest = [1,2,3,[4,5,['target']]]  #Lists can have nested lists..In this nest has the size of 4..
#So if we extract the third index.

In [48]:
nest[3]

[4, 5, ['target']]

In [49]:
nest[3][1]  #you can search inside the particular index i.e. from 3rd index you can fetch its 1st element..

5

In [50]:
nest[3][2]

['target']

In [53]:
nest[3][2][0]

'target'

In [54]:
nest[3][2][0][0]  #this will further extract the 0th index of the 'target'

't'

### Dictionaries

In [55]:
d = {'key1':'item1','key2':'item2'}  #Dictionaries are the data structures that have the values in the form of Key:Value pairs.

In [56]:
d

{'key1': 'item1', 'key2': 'item2'}

In [57]:
d['key1']

'item1'

In [61]:
d.values()  #When you want the values of the dictionary..

dict_values(['item1', 'item2'])

In [62]:
d.keys() #When you want the keys of the dictionary..

dict_keys(['key1', 'key2'])

In [63]:
d.items()   #When you want the key and value pairs in the form of tupes..

dict_items([('key1', 'item1'), ('key2', 'item2')])

### Booleans

In [64]:
True

True

In [65]:
False

False

### Tuples

In [67]:
t = (1,2,3)  #Tuple is represented inside the parenthesis..

In [68]:
t[0]  #In tupes you can extract a particular index..i.e. here we are extracting the 0th index.

1

In [69]:
t[0] = 'NEW'  #Tuples are not mutable...in other words they are immutable..

TypeError: 'tuple' object does not support item assignment

### Sets

In [70]:
{1,2,3}  #Now coming to the sets..They are represented inside curl brackets..

{1, 2, 3}

In [72]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}  #Sets do not contain duplicate elements..IF we will try to repeat values..
#It wont give any error..But the value will not be repeated..

{1, 2, 3}

## Comparison Operators

In [73]:
#Now coming to the comparison operatoes..

In [74]:
1 > 2

False

In [75]:
1 < 2

True

In [76]:
1 >= 1

True

In [77]:
1 <= 4

True

In [78]:
1 == 1

True

In [79]:
'hi' == 'bye'

False

## Logic Operators

In [80]:
#Some logical operators..

In [82]:
(1 > 2) and (2 < 3)  #Use of "and" operator..#Both the condition has to be true...in order to get the true result.

False

In [83]:
(1 > 2) or (2 < 3)  #Any one of the condition has to be true..inorder to get the true result..

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [86]:
if 1 < 2:
    print('Yep!')

Yep!

In [87]:
if 1 < 2:
    print('yep!')

yep!

In [88]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [89]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [90]:
#When you want to use multiple if else conditions....
if 1 == 2:    
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [91]:
seq = [1,2,3,4,5]  #List is given if the name 'seq'..

In [92]:
for item in seq:  #It will pick element from seq one bye one..of the name 'item..' and it will print the item..
    print(item)

1
2
3
4
5

In [93]:
for item in seq:  #It will take element one bye one..but it will print 'Yep' for each value of the list..
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [94]:
for jelly in seq:
    print(jelly+jelly)   #It will print the double of the value present in the list..

2
4
6
8
10

## while Loops

In [95]:
#Same is with the while loops..not so much difference..but just of the syntax..
i = 1  
while i < 5:
    print('i is: {}'.format(i))  #It will print the value of i from 1 to 4..both including..
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [96]:
range(5)   #When you write range(5)..it will start from 0 and end till 5-1..i.e. 4..  range(0,5) "0 included but 5 excluded.."

range(0, 5)

In [97]:
for i in range(5):  #Printing the value of range(5)  
    print(i)

0
1
2
3
4

In [98]:
list(range(5))  #Storing the value from 0 to 4 including in the form of list..

[0, 1, 2, 3, 4]

## list comprehension

In [100]:
x = [1,2,3,4]  #Given a list name 'x'

In [101]:
out = []  #Output list which will store the square values of each value present in the x list..
for item in x:
    out.append(item**2)  #Add the value to the out list..
print(out) #When all the values are appended..kindly..print the output list..

[1, 4, 9, 16]

In [102]:
[item**2 for item in x]  #Another shortcut method to update the value of the list x..

[1, 4, 9, 16]

## functions

In [107]:
def my_func(param1='default'):  #Behind any name if "def" is added and ahead '()' it becomes a function..
                                #Here we are taking parameterized constructor..
    """
    Docstring goes here.
    """
    print(param1)

In [108]:
my_func

In [109]:
my_func(15)  #When we pass any value to the above function while calling..it will print the value which is passed..

15

In [110]:
my_func()

default

In [75]:
my_func('new param')

new param

In [76]:
my_func(param1='new param')

new param

In [111]:
def square(x):
    return x**2

In [112]:
out = square(2)

In [113]:
print(out)

4

## lambda expressions

In [117]:
def times2(var):
    return var*2

In [119]:
times2(5)

10

In [120]:
lambda var: var*2

## map and filter

In [83]:
seq = [1,2,3,4,5]

In [84]:
map(times2,seq)

In [85]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [86]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [87]:
filter(lambda item: item%2 == 0,seq)

In [88]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [121]:
st = 'hello my name is Sam'

In [123]:
st.lower()  #.lower function will convert every characters in the string into lower case alphabets.

'hello my name is sam'

In [124]:
st.upper()  #this in upper case letters.

'HELLO MY NAME IS SAM'

In [125]:
st.split()  #This will convert the whole sentence into list of strings...by separating it on the basis of white spaces.

['hello', 'my', 'name', 'is', 'Sam']

In [126]:
tweet = 'Go Sports! #Sports'  #Another new string..

In [127]:
tweet.split('#') #This will split the string on the basis of '#' symbol.

['Go Sports! ', 'Sports']

In [128]:
tweet.split('#')[1]  #When it got splited..then extract the 1st value from the list..

'Sports'

In [129]:
d  #Dictionary..

{'key1': 'item1', 'key2': 'item2'}

In [130]:
d.keys()

dict_keys(['key1', 'key2'])

In [131]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [137]:
lst = [1,2,3]  #New list..

In [138]:
lst.pop()  #When you will use the pop function in the list..It will remove the last element which you inserted..

3

In [139]:
#There is one more function...which will remove the specific value from the list..(.remove function.)
k = [1,2,3,4]
print(k)

[1, 2, 3, 4]

In [140]:
k.remove(2) #Now I am trying to remove the 2 value from the list 'k'..

In [141]:
print(k)  #Again try to print the list..and you will see..that w is not there..it is actually removed..

[1, 3, 4]

In [142]:
lst

[1, 2]

In [144]:
'x' in [1,2,3]  #If 'x' is there in the list..
#If you have to check it any value is there in the list or not..rather than traversing the whole list..
#just simply write the above syntax..

False

In [145]:
'x' in ['x','y','z']   #Same is here also..But this time the output will be true..as 'x' is there in the list..

True

# Great Job!